@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --cr7memeland-com-arial-bold-font-family: "Arial", Helvetica;
  --cr7memeland-com-arial-bold-font-size: 28.799999237060547px;
  --cr7memeland-com-arial-bold-font-style: normal;
  --cr7memeland-com-arial-bold-font-weight: 700;
  --cr7memeland-com-arial-bold-letter-spacing: 0px;
  --cr7memeland-com-arial-bold-line-height: 43.20000076293945px;
  --cr7memeland-com-arial-narrow-font-family: "Arial", Helvetica;
  --cr7memeland-com-arial-narrow-font-size: 15.899999618530273px;
  --cr7memeland-com-arial-narrow-font-style: normal;
  --cr7memeland-com-arial-narrow-font-weight: 400;
  --cr7memeland-com-arial-narrow-letter-spacing: 0px;
  --cr7memeland-com-arial-narrow-line-height: 23.899999618530273px;
  --getkobememes-com-bebas-neue-regular-font-family: "Bebas Neue", Helvetica;
  --getkobememes-com-bebas-neue-regular-font-size: 249.60000610351562px;
  --getkobememes-com-bebas-neue-regular-font-style: normal;
  --getkobememes-com-bebas-neue-regular-font-weight: 400;
  --getkobememes-com-bebas-neue-regular-letter-spacing: 4px;
  --getkobememes-com-bebas-neue-regular-line-height: 23.799999237060547px;
  --getkobememes-com-bebas-neue-regular-upper-font-family: "Bebas Neue",
    Helvetica;
  --getkobememes-com-bebas-neue-regular-upper-font-size: 28.799999237060547px;
  --getkobememes-com-bebas-neue-regular-upper-font-style: normal;
  --getkobememes-com-bebas-neue-regular-upper-font-weight: 400;
  --getkobememes-com-bebas-neue-regular-upper-letter-spacing: 3px;
  --getkobememes-com-bebas-neue-regular-upper-line-height: 40.31999969482422px;
  --getkobememescomblack: rgba(0, 0, 0, 1);
  --getkobememescombuttercup: rgba(239, 162, 20, 1);
  --getkobememescomcod-gray: rgba(7, 7, 7, 1);
  --getkobememescomgigas: rgba(91, 52, 147, 1);
  --getkobememescomgold-tips: rgba(232, 176, 22, 1);
  --getkobememescomjacarta: rgba(58, 37, 96, 1);
  --getkobememescommartinique: rgba(50, 39, 68, 1);
  --getkobememescommine-shaft: rgba(51, 50, 50, 1);
  --getkobememescomschool-bus-yellow: rgba(253, 219, 0, 1);
  --getkobememescomtango: rgba(237, 103, 35, 1);
  --getkobememescomtuscany: rgba(184, 99, 46, 1);
  --getkobememescomwhite: rgba(255, 255, 255, 1);
  --getkobememescomwisteria: rgba(145, 104, 188, 1);
  --laboaitech-com-arial-bold-font-family: "Arial", Helvetica;
  --laboaitech-com-arial-bold-font-size: 25px;
  --laboaitech-com-arial-bold-font-style: normal;
  --laboaitech-com-arial-bold-font-weight: 700;
  --laboaitech-com-arial-bold-letter-spacing: 0px;
  --laboaitech-com-arial-bold-line-height: 37.439998626708984px;
  --laboaitech-com-arial-narrow-font-family: "Arial", Helvetica;
  --laboaitech-com-arial-narrow-font-size: 23px;
  --laboaitech-com-arial-narrow-font-style: normal;
  --laboaitech-com-arial-narrow-font-weight: 400;
  --laboaitech-com-arial-narrow-letter-spacing: 0.23000000417232513px;
  --laboaitech-com-arial-narrow-line-height: 29.950000762939453px;
  --laboaitech-com-inter-bold-font-family: "Inter", Helvetica;
  --laboaitech-com-inter-bold-font-size: 51.79999923706055px;
  --laboaitech-com-inter-bold-font-style: normal;
  --laboaitech-com-inter-bold-font-weight: 700;
  --laboaitech-com-inter-bold-letter-spacing: 0px;
  --laboaitech-com-inter-bold-line-height: 77.76000213623047px;
  --laboaitech-com-inter-medium-font-family: "Inter", Helvetica;
  --laboaitech-com-inter-medium-font-size: 25px;
  --laboaitech-com-inter-medium-font-style: normal;
  --laboaitech-com-inter-medium-font-weight: 500;
  --laboaitech-com-inter-medium-letter-spacing: 0px;
  --laboaitech-com-inter-medium-line-height: 32.45000076293945px;
  --laboaitech-com-semantic-heading-1-font-family: "Zen Kaku Gothic Antique",
    Helvetica;
  --laboaitech-com-semantic-heading-1-font-size: 61.400001525878906px;
  --laboaitech-com-semantic-heading-1-font-style: normal;
  --laboaitech-com-semantic-heading-1-font-weight: 900;
  --laboaitech-com-semantic-heading-1-letter-spacing: 0px;
  --laboaitech-com-semantic-heading-1-line-height: 67.58000183105469px;
  --laboaitech-com-semantic-heading-2-font-family: "Zen Kaku Gothic Antique",
    Helvetica;
  --laboaitech-com-semantic-heading-2-font-size: 38.400001525878906px;
  --laboaitech-com-semantic-heading-2-font-style: normal;
  --laboaitech-com-semantic-heading-2-font-weight: 500;
  --laboaitech-com-semantic-heading-2-letter-spacing: 0px;
  --laboaitech-com-semantic-heading-2-line-height: 42.2400016784668px;
  --laboaitech-com-semantic-link-font-family: "Zen Kaku Gothic Antique",
    Helvetica;
  --laboaitech-com-semantic-link-font-size: 26.899999618530273px;
  --laboaitech-com-semantic-link-font-style: normal;
  --laboaitech-com-semantic-link-font-weight: 900;
  --laboaitech-com-semantic-link-letter-spacing: 0px;
  --laboaitech-com-semantic-link-line-height: 40.31999969482422px;
  --laboaitech-com-semantic-pre-font-family: "Consolas", Helvetica;
  --laboaitech-com-semantic-pre-font-size: 13.859999656677246px;
  --laboaitech-com-semantic-pre-font-style: normal;
  --laboaitech-com-semantic-pre-font-weight: 400;
  --laboaitech-com-semantic-pre-letter-spacing: 0px;
  --laboaitech-com-semantic-pre-line-height: 23.040000915527344px;
  --laboaitech-com-zen-kaku-gothic-antique-black-font-family: "Zen Kaku Gothic Antique",
    Helvetica;
  --laboaitech-com-zen-kaku-gothic-antique-black-font-size: 26.899999618530273px;
  --laboaitech-com-zen-kaku-gothic-antique-black-font-style: normal;
  --laboaitech-com-zen-kaku-gothic-antique-black-font-weight: 900;
  --laboaitech-com-zen-kaku-gothic-antique-black-letter-spacing: 0px;
  --laboaitech-com-zen-kaku-gothic-antique-black-line-height: 40.31999969482422px;
  --laboaitech-com-zen-kaku-gothic-antique-bold-font-family: "Zen Kaku Gothic Antique",
    Helvetica;
  --laboaitech-com-zen-kaku-gothic-antique-bold-font-size: 30.700000762939453px;
  --laboaitech-com-zen-kaku-gothic-antique-bold-font-style: normal;
  --laboaitech-com-zen-kaku-gothic-antique-bold-font-weight: 700;
  --laboaitech-com-zen-kaku-gothic-antique-bold-letter-spacing: 0px;
  --laboaitech-com-zen-kaku-gothic-antique-bold-line-height: 39.939998626708984px;
  --laboaitech-com-zen-kaku-gothic-antique-light-font-family: "Zen Kaku Gothic Antique",
    Helvetica;
  --laboaitech-com-zen-kaku-gothic-antique-light-font-size: 24.149999618530273px;
  --laboaitech-com-zen-kaku-gothic-antique-light-font-style: normal;
  --laboaitech-com-zen-kaku-gothic-antique-light-font-weight: 300;
  --laboaitech-com-zen-kaku-gothic-antique-light-letter-spacing: 0px;
  --laboaitech-com-zen-kaku-gothic-antique-light-line-height: 25.34000015258789px;
  --laboaitech-com-zen-kaku-gothic-antique-medium-font-family: "Zen Kaku Gothic Antique",
    Helvetica;
  --laboaitech-com-zen-kaku-gothic-antique-medium-font-size: 26.899999618530273px;
  --laboaitech-com-zen-kaku-gothic-antique-medium-font-style: normal;
  --laboaitech-com-zen-kaku-gothic-antique-medium-font-weight: 500;
  --laboaitech-com-zen-kaku-gothic-antique-medium-letter-spacing: -0.19200000166893005px;
  --laboaitech-com-zen-kaku-gothic-antique-medium-line-height: 37.630001068115234px;
  --laboaitechcomanakiwa: rgba(168, 219, 255, 1);
  --laboaitechcomapricot: rgba(233, 135, 118, 1);
  --laboaitechcomdodger-blue: rgba(49, 93, 255, 1);
  --laboaitechcommauve: rgba(254, 184, 255, 1);
  --laboaitechcomsandwisp: rgba(244, 239, 158, 1);
  --laboaitechcomthunder: rgba(58, 54, 58, 1);
  --officialelonmeme-com-font-awesome-5-free-solid-font-family: "Font Awesome 5 Free",
    Helvetica;
  --officialelonmeme-com-font-awesome-5-free-solid-font-size: 16px;
  --officialelonmeme-com-font-awesome-5-free-solid-font-style: normal;
  --officialelonmeme-com-font-awesome-5-free-solid-font-weight: 400;
  --officialelonmeme-com-font-awesome-5-free-solid-letter-spacing: 0px;
  --officialelonmeme-com-font-awesome-5-free-solid-line-height: 16px;
  --officialelonmeme-com-roboto-condensed-regular-font-family: "Roboto Condensed",
    Helvetica;
  --officialelonmeme-com-roboto-condensed-regular-font-size: 16px;
  --officialelonmeme-com-roboto-condensed-regular-font-style: normal;
  --officialelonmeme-com-roboto-condensed-regular-font-weight: 400;
  --officialelonmeme-com-roboto-condensed-regular-letter-spacing: 0px;
  --officialelonmeme-com-roboto-condensed-regular-line-height: 24px;
  --officialelonmeme-com-semantic-heading-2-font-family: "Roboto Condensed",
    Helvetica;
  --officialelonmeme-com-semantic-heading-2-font-size: 32px;
  --officialelonmeme-com-semantic-heading-2-font-style: normal;
  --officialelonmeme-com-semantic-heading-2-font-weight: 600;
  --officialelonmeme-com-semantic-heading-2-letter-spacing: 0px;
  --officialelonmeme-com-semantic-heading-2-line-height: 38.400001525878906px;
  --officialelonmeme-com-semantic-link-font-family: "Roboto Condensed",
    Helvetica;
  --officialelonmeme-com-semantic-link-font-size: 22px;
  --officialelonmeme-com-semantic-link-font-style: normal;
  --officialelonmeme-com-semantic-link-font-weight: 500;
  --officialelonmeme-com-semantic-link-letter-spacing: 0px;
  --officialelonmeme-com-semantic-link-line-height: 22px;
  --officialelonmemecomwhite: rgba(255, 255, 255, 1);
  --www-falconpulse-ai-inter-bold-font-family: "Inter", Helvetica;
  --www-falconpulse-ai-inter-bold-font-size: 14px;
  --www-falconpulse-ai-inter-bold-font-style: normal;
  --www-falconpulse-ai-inter-bold-font-weight: 700;
  --www-falconpulse-ai-inter-bold-letter-spacing: 0px;
  --www-falconpulse-ai-inter-bold-line-height: 16.799999237060547px;
  --www-falconpulse-ai-inter-regular-font-family: "Inter", Helvetica;
  --www-falconpulse-ai-inter-regular-font-size: 30px;
  --www-falconpulse-ai-inter-regular-font-style: normal;
  --www-falconpulse-ai-inter-regular-font-weight: 400;
  --www-falconpulse-ai-inter-regular-letter-spacing: 0px;
  --www-falconpulse-ai-inter-regular-line-height: normal;
  --www-falconpulse-ai-semantic-heading-1-font-family: "Inter", Helvetica;
  --www-falconpulse-ai-semantic-heading-1-font-size: 53px;
  --www-falconpulse-ai-semantic-heading-1-font-style: normal;
  --www-falconpulse-ai-semantic-heading-1-font-weight: 400;
  --www-falconpulse-ai-semantic-heading-1-letter-spacing: 0px;
  --www-falconpulse-ai-semantic-heading-1-line-height: 63.599998474121094px;
  --www-falconpulse-ai-semantic-heading-2-font-family: "Source Sans 3",
    Helvetica;
  --www-falconpulse-ai-semantic-heading-2-font-size: 24px;
  --www-falconpulse-ai-semantic-heading-2-font-style: normal;
  --www-falconpulse-ai-semantic-heading-2-font-weight: 400;
  --www-falconpulse-ai-semantic-heading-2-letter-spacing: -0.800000011920929px;
  --www-falconpulse-ai-semantic-heading-2-line-height: 36px;
  --www-falconpulse-ai-semantic-heading-3-font-family: "Source Sans 3",
    Helvetica;
  --www-falconpulse-ai-semantic-heading-3-font-size: 18px;
  --www-falconpulse-ai-semantic-heading-3-font-style: normal;
  --www-falconpulse-ai-semantic-heading-3-font-weight: 400;
  --www-falconpulse-ai-semantic-heading-3-letter-spacing: -0.5px;
  --www-falconpulse-ai-semantic-heading-3-line-height: 25.200000762939453px;
  --www-falconpulse-ai-semantic-link-font-family: "Source Sans 3", Helvetica;
  --www-falconpulse-ai-semantic-link-font-size: 20px;
  --www-falconpulse-ai-semantic-link-font-style: normal;
  --www-falconpulse-ai-semantic-link-font-weight: 400;
  --www-falconpulse-ai-semantic-link-letter-spacing: 0px;
  --www-falconpulse-ai-semantic-link-line-height: 24px;
  --www-falconpulse-ai-source-sans-3-light-font-family: "Source Sans 3",
    Helvetica;
  --www-falconpulse-ai-source-sans-3-light-font-size: 30px;
  --www-falconpulse-ai-source-sans-3-light-font-style: normal;
  --www-falconpulse-ai-source-sans-3-light-font-weight: 300;
  --www-falconpulse-ai-source-sans-3-light-letter-spacing: 0px;
  --www-falconpulse-ai-source-sans-3-light-line-height: 51px;
  --www-falconpulse-ai-source-sans-3-regular-font-family: "Source Sans 3",
    Helvetica;
  --www-falconpulse-ai-source-sans-3-regular-font-size: 16px;
  --www-falconpulse-ai-source-sans-3-regular-font-style: normal;
  --www-falconpulse-ai-source-sans-3-regular-font-weight: 400;
  --www-falconpulse-ai-source-sans-3-regular-letter-spacing: 0px;
  --www-falconpulse-ai-source-sans-3-regular-line-height: 24px;
  --www-sketchymcdraw-com-consolas-regular-font-family: "Consolas", Helvetica;
  --www-sketchymcdraw-com-consolas-regular-font-size: 25.200000762939453px;
  --www-sketchymcdraw-com-consolas-regular-font-style: normal;
  --www-sketchymcdraw-com-consolas-regular-font-weight: 400;
  --www-sketchymcdraw-com-consolas-regular-letter-spacing: 0px;
  --www-sketchymcdraw-com-consolas-regular-line-height: 32px;
  --www-sketchymcdraw-com-segoe-UI-bold-font-family: "Segoe UI", Helvetica;
  --www-sketchymcdraw-com-segoe-UI-bold-font-size: 14px;
  --www-sketchymcdraw-com-segoe-UI-bold-font-style: normal;
  --www-sketchymcdraw-com-segoe-UI-bold-font-weight: 700;
  --www-sketchymcdraw-com-segoe-UI-bold-letter-spacing: 0px;
  --www-sketchymcdraw-com-segoe-UI-bold-line-height: 16px;
  --www-sketchymcdraw-com-segoe-UI-bold-underline-font-family: "Segoe UI",
    Helvetica;
  --www-sketchymcdraw-com-segoe-UI-bold-underline-font-size: 15px;
  --www-sketchymcdraw-com-segoe-UI-bold-underline-font-style: normal;
  --www-sketchymcdraw-com-segoe-UI-bold-underline-font-weight: 700;
  --www-sketchymcdraw-com-segoe-UI-bold-underline-letter-spacing: 0px;
  --www-sketchymcdraw-com-segoe-UI-bold-underline-line-height: 20px;
  --www-sketchymcdraw-com-segoe-UI-italic-font-family: "Segoe UI", Helvetica;
  --www-sketchymcdraw-com-segoe-UI-italic-font-size: 18px;
  --www-sketchymcdraw-com-segoe-UI-italic-font-style: italic;
  --www-sketchymcdraw-com-segoe-UI-italic-font-weight: 400;
  --www-sketchymcdraw-com-segoe-UI-italic-letter-spacing: 0px;
  --www-sketchymcdraw-com-segoe-UI-italic-line-height: 28px;
  --www-sketchymcdraw-com-segoe-UI-regular-font-family: "Segoe UI", Helvetica;
  --www-sketchymcdraw-com-segoe-UI-regular-font-size: 24px;
  --www-sketchymcdraw-com-segoe-UI-regular-font-style: normal;
  --www-sketchymcdraw-com-segoe-UI-regular-font-weight: 400;
  --www-sketchymcdraw-com-segoe-UI-regular-letter-spacing: 0px;
  --www-sketchymcdraw-com-segoe-UI-regular-line-height: 36px;
  --www-sketchymcdraw-com-segoe-UI-regular-underline-font-family: "Segoe UI",
    Helvetica;
  --www-sketchymcdraw-com-segoe-UI-regular-underline-font-size: 18px;
  --www-sketchymcdraw-com-segoe-UI-regular-underline-font-style: normal;
  --www-sketchymcdraw-com-segoe-UI-regular-underline-font-weight: 400;
  --www-sketchymcdraw-com-segoe-UI-regular-underline-letter-spacing: 0px;
  --www-sketchymcdraw-com-segoe-UI-regular-underline-line-height: 28px;
  --www-sketchymcdraw-com-segoe-UI-semibold-font-family: "Segoe UI", Helvetica;
  --www-sketchymcdraw-com-segoe-UI-semibold-font-size: 18px;
  --www-sketchymcdraw-com-segoe-UI-semibold-font-style: normal;
  --www-sketchymcdraw-com-segoe-UI-semibold-font-weight: 400;
  --www-sketchymcdraw-com-segoe-UI-semibold-letter-spacing: 0px;
  --www-sketchymcdraw-com-segoe-UI-semibold-line-height: 28px;
  --www-sketchymcdraw-com-semantic-heading-1-font-family: "Segoe UI", Helvetica;
  --www-sketchymcdraw-com-semantic-heading-1-font-size: 24px;
  --www-sketchymcdraw-com-semantic-heading-1-font-style: normal;
  --www-sketchymcdraw-com-semantic-heading-1-font-weight: 700;
  --www-sketchymcdraw-com-semantic-heading-1-letter-spacing: -0.6000000238418579px;
  --www-sketchymcdraw-com-semantic-heading-1-line-height: 32px;
  --www-sketchymcdraw-com-semantic-heading-2-font-family: "Segoe UI", Helvetica;
  --www-sketchymcdraw-com-semantic-heading-2-font-size: 36px;
  --www-sketchymcdraw-com-semantic-heading-2-font-style: normal;
  --www-sketchymcdraw-com-semantic-heading-2-font-weight: 700;
  --www-sketchymcdraw-com-semantic-heading-2-letter-spacing: 0px;
  --www-sketchymcdraw-com-semantic-heading-2-line-height: 40px;
  --www-sketchymcdraw-com-semantic-heading-3-font-family: "Segoe UI", Helvetica;
  --www-sketchymcdraw-com-semantic-heading-3-font-size: 24px;
  --www-sketchymcdraw-com-semantic-heading-3-font-style: normal;
  --www-sketchymcdraw-com-semantic-heading-3-font-weight: 700;
  --www-sketchymcdraw-com-semantic-heading-3-letter-spacing: 0px;
  --www-sketchymcdraw-com-semantic-heading-3-line-height: 32px;
  --www-sketchymcdraw-com-semantic-item-font-family: "Segoe UI", Helvetica;
  --www-sketchymcdraw-com-semantic-item-font-size: 18px;
  --www-sketchymcdraw-com-semantic-item-font-style: normal;
  --www-sketchymcdraw-com-semantic-item-font-weight: 400;
  --www-sketchymcdraw-com-semantic-item-letter-spacing: 0px;
  --www-sketchymcdraw-com-semantic-item-line-height: 28px;
  --www-sketchymcdraw-com-semantic-label-font-family: "Segoe UI", Helvetica;
  --www-sketchymcdraw-com-semantic-label-font-size: 18px;
  --www-sketchymcdraw-com-semantic-label-font-style: normal;
  --www-sketchymcdraw-com-semantic-label-font-weight: 400;
  --www-sketchymcdraw-com-semantic-label-letter-spacing: 0px;
  --www-sketchymcdraw-com-semantic-label-line-height: 28px;
  --www-sketchymcdraw-com-semantic-textarea-font-family: "Segoe UI", Helvetica;
  --www-sketchymcdraw-com-semantic-textarea-font-size: 16px;
  --www-sketchymcdraw-com-semantic-textarea-font-style: normal;
  --www-sketchymcdraw-com-semantic-textarea-font-weight: 400;
  --www-sketchymcdraw-com-semantic-textarea-letter-spacing: 0px;
  --www-sketchymcdraw-com-semantic-textarea-line-height: 24px;
  --www-vineco-in-arial-bold-font-family: "Arial", Helvetica;
  --www-vineco-in-arial-bold-font-size: 14px;
  --www-vineco-in-arial-bold-font-style: normal;
  --www-vineco-in-arial-bold-font-weight: 700;
  --www-vineco-in-arial-bold-letter-spacing: 0px;
  --www-vineco-in-arial-bold-line-height: 20px;
  --www-vineco-in-arial-narrow-font-family: "Arial", Helvetica;
  --www-vineco-in-arial-narrow-font-size: 20px;
  --www-vineco-in-arial-narrow-font-style: normal;
  --www-vineco-in-arial-narrow-font-weight: 400;
  --www-vineco-in-arial-narrow-letter-spacing: 0px;
  --www-vineco-in-arial-narrow-line-height: 26px;
  --www-vineco-in-semantic-link-font-family: "Arial", Helvetica;
  --www-vineco-in-semantic-link-font-size: 16px;
  --www-vineco-in-semantic-link-font-style: normal;
  --www-vineco-in-semantic-link-font-weight: 400;
  --www-vineco-in-semantic-link-letter-spacing: 0px;
  --www-vineco-in-semantic-link-line-height: 20px;
  --www-vineco-in-semantic-link-underline-font-family: "Arial", Helvetica;
  --www-vineco-in-semantic-link-underline-font-size: 14px;
  --www-vineco-in-semantic-link-underline-font-style: normal;
  --www-vineco-in-semantic-link-underline-font-weight: 400;
  --www-vineco-in-semantic-link-underline-letter-spacing: 0px;
  --www-vineco-in-semantic-link-underline-line-height: 20px;
  --wwwsketchymcdrawcomblack: rgba(0, 0, 0, 1);
  --wwwsketchymcdrawcomdodger-blue: rgba(29, 155, 240, 1);
  --wwwsketchymcdrawcomjade: rgba(0, 186, 124, 1);
  --wwwsketchymcdrawcommalibu: rgba(107, 201, 251, 1);
  --wwwsketchymcdrawcomporcelain: rgba(247, 249, 249, 1);
  --wwwsketchymcdrawcomregent-gray: rgba(139, 152, 165, 1);
  --wwwsketchymcdrawcomrose: rgba(249, 24, 128, 1);
  --wwwsketchymcdrawcomwhite: rgba(255, 255, 255, 1);
  --wwwvinecoinwhite: rgba(255, 255, 255, 1);
}
